html {
    background-image: url('image/Background.jpeg');
    background-repeat: repeat/no-repeat;
    background-size: 1280px 853px;

}

label {
    color: white;
}

.post_page {
    width: 100%;
    flex: 1;
    text-align: center;
    justify-content: center;
}

#file_selection {
    color: white
}

.post_container {
    flex: 1;
    flex-grow: 1;
    width: 400px;
    transform: translateX(140%);
    flex-direction: column;
}

.post {
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 10px 10px 10px;
    width: 300px;
    word-wrap: break-word;
    text-align: baseline;
    background-color: rgba(128, 128, 128, .5);
    margin-top: 20px;
}

.post_image {
    flex: 1;
    justify-self: center;
    aspect-ratio: 1/1;
    width: 200px
}

.post_username {
    flex: 1;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.post_username:visited {
    color: black;
}

.post_content {
    margin-bottom: 10px;
}